$main-color:#26273d;
$light-gray:#2f2f4b;
$medium-gray:#232538;
$dark-gray:#1e1e2f;
$general-color:#5b57cb;
$general-color-dark:#4344a1;
$general-color-darker:#3a3b85;
$general-color-light:#8181a9;
$button-text:#9b9bbf;
$win:#21deab8c;
$lose:#ff5959;
$border-color:#ffffff2e;
$neutral:#f3e72c;
$table-color:#2f304b;
$table-text:#737496;
$thead-color:#1e1e2f;
$thead-text:#ffffffbd;
$table-border:#26273d;
$table-body-color:#232331;
$input-color:#2f304b;
$input-number-color:#3c3c5f;


$smallscreen:"only screen and (max-width : 1200px)";
$tablet: "only screen and (max-width : 768px)";
$mobile: "only screen and (max-width : 480px)";
$tinymobile: "only screen and (max-width : 350px)";

$main-font:'Montserrat', sans-serif;