<div class="col-sm-12">
  <div class="col-sm-12 holder-container table-content desktop-view">
    <div class="row playoff-round">
      <div class="col-sm-3">
        <div>
          <p>First Player<span>0</span></p>
        </div>
        <div>
          <p>Eigth Player<span>0</span></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <p>Second Player<span>0</span></p>
        </div>
        <div>
          <p>Seventh Player<span>0</span></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <p>Third Player<span>0</span></p>
        </div>
        <div>
          <p>Sixth Player<span>0</span></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <p>Fourth Player<span>0</span></p>
        </div>
        <div>
          <p>Fifth Player<span>0</span></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around charts">
      <div class="col-4">
        <svg height="50" width="265">
          <polyline
            points="3,0 3,25 260,25 260,0 260,25 130,25 130,50"
            style="fill:none;stroke:white;stroke-width:1"
          />
          Sorry, your browser does not support inline SVG.
        </svg>
      </div>
      <div class="col-4">
        <svg height="50" width="265">
          <polyline
            points="3,0 3,25 260,25 260,0 260,25 130,25 130,50"
            style="fill:none;stroke:white;stroke-width:1"
          />
          Sorry, your browser does not support inline SVG.
        </svg>
      </div>
    </div>
    <div class="row justify-content-around playoff-round no-margin-top">
      <div class="col-4">
        <div>
          <p>Semifinalist One<span>0</span></p>
        </div>
        <div>
          <p>Semifinalist Two<span>0</span></p>
        </div>
      </div>
      <div class="col-4">
        <div>
          <p>Semifinalist Three<span>0</span></p>
        </div>
        <div>
          <p>Semifinalist Four<span>0</span></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center charts">
      <div class="col-8">
        <svg height="50" width="565">
          <polyline
            points="3,0 3,25 560,25 560,0 560,25 280,25 280,50"
            style="fill:none;stroke:white;stroke-width:1"
          />
          Sorry, your browser does not support inline SVG.
        </svg>
      </div>
    </div>
    <div class="row justify-content-center playoff-round no-margin-top">
      <div class="col-4">
        <div>
          <p>Finalist One <span>0</span></p>
        </div>
        <div>
          <p>Finalist Two <span>0</span></p>
        </div>
      </div>
    </div>
    <div class="champion">
      <img src="../../assets/images/iv.png" alt="iv">
      <div class="row justify-content-center champion-holder">
          <div class="col-sm-4">
              <p>CHAMPION</p>
              <p>the winner of the league</p>
            </div>
      </div>

    </div>
    <div class="row justify-content-center playoff-round no-margin-top">
        <div class="col-4">
          <h2 class="subt">match for 3rd place</h2>
          <div>
            <p>Player One <span>0</span></p>
          </div>
          <div>
            <p>Player Two <span>0</span></p>
          </div>
        </div>
      </div>
  </div>
  <br>
  <div class=" holder-container table-content mobile-view">
    <div class="playoff-nav mar-left-15">
      <button (click)="active='quater'" [class.active]="active=='quater'">Quoter</button>
      <button (click)="active='semi'" [class.active]="active=='semi'">Semi</button>
      <button (click)="active='final'" [class.active]="active=='final'">Final</button>
      <button (click)="active='champion'" [class.active]="active=='champion'">champion</button>
    </div>
    <div *ngIf="active=='quater'" class="col-sm-12">
        <div class="playoff-round">
            <div class="full-width">
              <p>First Player<span>0</span></p>
            </div>
            <div class="full-width">
              <p>Eight Player<span>0</span></p>
            </div>
          </div>
          <div class="playoff-round">
              <div class="full-width">
                <p>Second Player<span>0</span></p>
              </div>
              <div class="full-width">
                <p>Seventh Player<span>0</span></p>
              </div>
            </div>
            <div class="playoff-round">
                <div class="full-width">
                  <p>Third Player<span>0</span></p>
                </div>
                <div class="full-width">
                  <p>Sixt Player<span>0</span></p>
                </div>
              </div>
              <div class="playoff-round">
                  <div class="full-width">
                    <p>Fourth Player<span>0</span></p>
                  </div>
                  <div class="full-width">
                    <p>Fifth Player<span>0</span></p>
                  </div>
                </div>
    </div>
    <div *ngIf="active=='semi'" class="col-sm-12">
        <div class="playoff-round">
            <div class="full-width">
              <p>Semifinalist One<span>0</span></p>
            </div>
            <div class="full-width">
              <p>Semifinalist Two<span>0</span></p>
            </div>
          </div>
          <div class="playoff-round">
              <div class="full-width">
                <p>Semifinalist Three<span>0</span></p>
              </div>
              <div class="full-width">
                <p>Semifinalist Four<span>0</span></p>
              </div>
            </div>
    </div>
    <div *ngIf="active=='final'" class="col-sm-12">
        <div class="playoff-round">
            <div class="full-width">
              <p>Finalist One<span>0</span></p>
            </div>
            <div class="full-width">
              <p>Finalist Two<span>0</span></p>
            </div>
          </div>
          <h2 class="subt">match for 3rd place</h2>
          <div class="playoff-round">
              <div class="full-width">
                <p>Player One<span>0</span></p>
              </div>
              <div class="full-width">
                <p>Player Two<span>0</span></p>
              </div>
            </div>
    </div>
    <div *ngIf="active=='champion'" class="col-sm-12">
        <div class="champion width250">
            <img src="../../assets/images/iv.png" alt="iv">
            <div class="row justify-content-center champion-holder">
                <div>
                    <p>CHAMPION</p>
                    <p>the winner of the league</p>
                  </div>
            </div>
      
          </div>
    </div>
  </div>
</div>
