@import "../../assets/style/variables";
@import "../../assets/style/mixins";
.desktop-view{
    display: block;
    @media #{$smallscreen}{
        display: none; 
    }
}
.mobile-view{
    display: none;
    @media #{$smallscreen}{
        display: block; 
    }
}
.playoff-round {
  margin-top: 40px;
  div {
    max-width: 80%;
    margin: auto;
    p {
      background: #2f304b;
      margin: 0px;
      margin: 0px;
      border-left: solid 3px #474499;
      padding: 9px 0px 9px 15px;
      @include box-shadow();
      &:first-child {
        border-bottom: solid 2px #26273d;
      }
      span {
        float: right;
        background: #474499;
        height: 42px;
        margin-top: -9px;
        padding-top: 9px;
        width: 36px;
        text-align: center;
      }
    }
  }
}
.charts {
  svg {
    display: block;
    margin: auto;
  }
}
.no-margin-top {
  margin-top: 0px;
}
.champion {
  img {
    margin: auto;
    display: block;
    width: 200px;
    margin-top: 20px;
  }
  .champion-holder {
    div {
      p {
        &:first-child {
          background: #474499;
          text-align: center;
          padding: 2px;
          font-weight: 700;
          font-size: 24px;
          border-radius: 10px 10px 0px 0px;
          margin-top: 10px;
          margin-bottom: 0px;
          @include box-shadow();
        }
        &:nth-child(2) {
          margin: 0px;
          background: #2f2f4b;
          margin-bottom: 50px;
          padding: 7px;
          text-align: center;
          border-radius: 0 0 10px 10px;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 600;
          @include box-shadow();
        }
      }
    }
  }
}
.playoff-nav{
    margin-top: 20px;
    display: inline-flex;
    @include box-shadow();
    border-radius: 10px;
    button{
        color: white;
        font-size: 14px;
        text-transform: capitalize;
        background: #2f304b;
        border: none;
        padding: 7px 10px;
        border-right: solid 2px #26273d;
        cursor: pointer;
        &:first-child{
            border-radius: 10px 0 0 10px;
        }
        &:last-child{
            border-radius: 0px 10px 10px 0px;
        }
        &.active{
            background: #474499;
        }
        &:focus{
            outline: none;
        }
    }
}
.full-width{
    max-width: 280px !important;
    margin:0px !important;
}
.pad-left-15{
    padding-left:15px;
    @media #{$tinymobile}{
        padding-left:0px;
    }
}
.mar-left-15{
  margin-left:15px;
  @media #{$tinymobile}{
      margin-left:0px;
  }
}
.width250{
    width:250px;
    margin: 40px auto;
}
.subt{
    font-size: 20px;
    text-align: center;
    margin-bottom: 17px;
    text-transform: uppercase;
    @media #{$smallscreen}{
      text-align: left;
      margin-top: 45px;
      margin-bottom: 0px;
  }
}
.load{
  color:white;
  margin-top: 30px;
  margin-left: 20px;
}
